:root {
  --background-color:oklch(94.45% 0.03 268.81); 
  --primary-color: oklch(45.12% 0.267 268.81);

}
*{
  font-family:Futura; 
  text-align:center;
  margin: auto;

}
body{
    background-color: var(--primary-color);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
   
}

body img {
    width:30vw; 
    max-width:800px; 
    height:auto; 
    margin:5vh auto 5vh auto;

 }