
:root {
  --background-color: #ffffff;
  --primary-color: oklch(35.492% 0.0836 281.277);
  --secondary-color: oklch(94.45% 0.03 268.81);
}
body{
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    grid-template-rows: auto 1fr auto;

    header {
        text-align: center;
        padding: 1rem;
    }   
}

footer{
        margin-top: 10vh;
        text-align: center;
        justify-items: center;
        min-height: 50px;
        background-color: var(--secondary-color);
        animation-name: myAnimation;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

@keyframes myAnimation {
        from {background-color: var(--secondary-color);}
        to {background-color: var(--primary-color);}
        from {color: var(--primary-color);}
        to {color: var(--secondary-color);}
    }

#about{
    max-width: 800px;
    margin: 3vw;
}

.menu{
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.menu a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight:bold;
}

#nav-toggle{
    display:none;
}

#nav-toggle-label{
    display: block;
}
#nav-toggle:checked + #nav-toggle-label + .menu{
    display: flex
}

nav {
  text-decoration: none;
  display: flex; 
  justify-content: center;
  padding: 1rem 2rem; 
  background-color: var(--secondary-color);

}

@media (min-width: 600px){
    .menu{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    #nav-toggle{
        display: none;
    }
    #nav-toggle-label{
        display: none;
    }
}

/* do this when JS is intro'd tomorrow https://www.youtube.com/watch?v=EQuT-CdJ2sE */